.table{
    width: 100%;
    border-collapse: collapse;
    background-color: var(--Grey);
    border-radius: 0.5rem;
    overflow: hidden;
    border-radius: 16px;
    border: 0.8px solid rgba(160, 32, 240, 0.15);
    background: #130E28;
}